<app-auth-layout>
  <div class="flex items-center justify-center px-4 py-10 bg-base-100 sm:px-6 lg:px-8 sm:py-16 lg:py-24">
      <div class="xl:w-full xl:max-w-sm 2xl:max-w-md xl:mx-auto">
          <h2 class="text-3xl font-bold leading-tight sm:text-4xl">Update password</h2>

          <form [formGroup]="resetPassword" class="mt-8" (submit)="onSubmit()">
              <div class="space-y-5">
                  <div>
                      <label for="password" class="text-base font-medium"> New password </label>
                      <div class="mt-2.5">
                          <input
                            type="password"
                            formControlName="password"
                            id="password"
                            placeholder="Enter your new password"
                            class="block w-full p-4 text-black placeholder-gray-500 transition-all duration-200 border border-gray-200 rounded-md bg-gray-50 focus:outline-none focus:border-blue-600 focus:bg-white caret-blue-600"
                          />
                      </div>
                  </div>

                  <div>
                      <button type="submit"
                              class="inline-flex items-center justify-center w-full px-4 py-4 text-base font-semibold text-white transition-all duration-200 bg-blue-600 border border-transparent rounded-md focus:outline-none hover:bg-blue-700 focus:bg-blue-700">
                        Update password
                      </button>
                  </div>

                  <a [routerLink]="['/auth/login']"
                     class="flex justify-center font-medium text-blue-600 transition-all duration-200 hover:text-blue-700 hover:underline focus:text-blue-700">
                    Back to login
                  </a>
              </div>
          </form>
      </div>
  </div>
</app-auth-layout>
